.userSettingsIcon {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 5px;
}
.generalLayoutStyle {
  height: max-content;
}

.typographyStyle {
  float: right;
}

.contentStyle {
  margin: 24 16 0 px;
}

.headerStyle {
  padding: 0;
  background: white;
}

.footerStyle {
  text-align: center;
}

.renderContentStyle {
  padding: 24px;
  min-height: 390px;
  height: 100vh;
}
